// ------------------------------ Variables ------------------------------

$primary: #e7b46c;
$header: #313649;
$text: #646F93;
$text-faded: #ACB4D1;
$background-darker: #F0F3FF;
$background-main: #F7F9FF;
$background-white: #FCFCFC;
$blue: #2757FF;
$green: #57FF29;
$yellow: #E8DF6D;
$red: #FF2957;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: inherit;
    margin: auto;
}

body {
    background-color: $background-darker;
    color: $text;
    font-family: articulat-cf, sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    margin: auto;
}

// ------------------------------ Fonts ------------------------------

h1,
h2,
h3,
h4 {
    color: $header;
    font-family: articulat-cf, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    color: $text;
}

li {
    color: $blue;
    text-transform: uppercase;
    cursor: pointer;
}

// ------------------------------ Images ------------------------------

.celery {
    background: url(/src/assets/celery.png);
}

.gluten {
    background: url(/src/assets/gluten.png);
}

.crustaceans {
    background: url(/src/assets/crustaceans.png);
}

.eggs {
    background: url(/src/assets/eggs.png);
}

.fish {
    background: url(/src/assets/fish.png);
}

.lupin {
    background: url(/src/assets/lupin.png);
}

.milk {
    background: url(/src/assets/milk.png);
}

.mollusc {
    background: url(/src/assets/mollusc.png);
}

.mustard {
    background: url(/src/assets/mustard.png);
}

.nuts {
    background: url(/src/assets/nuts.png);
}

.peanuts {
    background: url(/src/assets/peanuts.png);
}

.sesame {
    background: url(/src/assets/sesame.png);
}

.soya {
    background: url(/src/assets/soya.png);
}

.sulphur {
    background: url(/src/assets/sulphur.png);
}

.celery,
.gluten,
.crustaceans,
.eggs,
.fish,
.lupin,
.milk,
.mollusc,
.mustard,
.nuts,
.peanuts,
.sesame,
.soya,
.sulphur {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
}

// ------------------------------ Header ------------------------------

.header,
.title {
    text-align: center;
    margin-bottom: 5px;
}

.title {
    text-transform: capitalize;
}

.fadedText {
    color: $red;
    text-transform: initial;
    text-align: left;
    margin-top: 25px;
}

.signing {
    text-transform: capitalize;
    text-align: left;
    margin-top: 25px;
}

#download {
    display: flex;
    margin: auto;
    background: $blue;
    color: $background-white;
    font-family: articulat-cf, sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    padding: 12px 24px 10px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background: #577BFF;
    }
}

// ------------------------------ Table ------------------------------

#tablePDF {
    margin: 5% 0 0 0;
}

table {
    background: $background-white;
    border: 30px solid transparent;
    border-radius: 12px;
    font-family: articulat-cf, sans-serif;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

tr {
    border: 5px solid transparent;
    text-align: center;
}

tr:nth-child(even) {
    background-color: $background-white;
}

tr:nth-child(odd) {
    background-color: $background-main;
}


tr td:hover {
    background: $background-darker;
}

th:nth-child(odd) {
    background: $background-white;
}

.image {
    background: $background-white;
    height: 50px;
    width: 50px;
}

.categoryName {
    font-size: 0.6rem;
    padding-bottom: 5px;
}

td,
p {
    text-transform: uppercase;
    color: $text;
    font-size: 0.7rem;
}

.titleTable {
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}

.itemName {
    color: $blue;
    padding: 5px;
    width: 15vw;

    input {
        text-align: left;
        width: 100%;
        padding-left: 5px;
        color: $text;
        font-family: source-sans-pro, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        font-style: normal;
        border: 1px solid transparent;
        border-radius: 3px;
        transition: all 0.4s ease-in-out;

        &:hover {
            background: $background-main;
            border: 1px solid $blue;
        }
    }
}

// ------------------------------ Checkbox ------------------------------

.container {
    position: absolute;
    font-size: 1.3rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 20px;
    width: 20px;
    background-color: $background-white;
    border: 1px solid $background-darker;
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
}

.container input:checked~.checkmark {
    background-color: $green;
    border-radius: 3px;
}

.checkmark:after {
    content: "✔";
    color: $background-white;
    font-size: 1rem;
    position: absolute;
    height: 20px;
    left: 3px;
    top: -3px;
    display: none;
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.25);
}

.container input:checked~.checkmark:after {
    display: block;
}

::placeholder {
    font-size: 1rem;
    color: $text-faded;
    opacity: 0.5;
}

.credits {
    text-align: center;
    margin: auto;

    p {
        font-size: 0.8rem;
    }
}